:root {
  --introHeading: #fee4b3;

  /* Carousel */
  --carouselControlTheme: #000;
}
/* iPhone 7 screen width */
@media screen and (max-width: 2475px) {
  header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }

  #navMenuImg {
    background-color: transparent;
    border: none;
    width: 60%;
    margin-top: -2rem;
  }
  .mpLogo {
    width: 100%;
  }

  .introSection {
    color: var(--introHeading);
    margin: 0 1rem;
  }
  h1 {
    font-size: 1rem;
    text-align: center;
    font-style: italic;
  }
  .sectionDivider:first-of-type {
    margin: 1rem 0;
  }

  /* Carousel */
  .carousel-control-prev,
  .carousel-control-next {
    background-color: var(--carouselControlTheme);
    opacity: 0.6;
    width: 10%;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: invert(0);
  }

  /* DISHES CONTAINER */
  .dishesContainer {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    max-width: 100%;
    /* border: solid 1px red; */
  }
  .dishesFrame {
    background-image: url("./assets/images/imageFrame1.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    height: 95%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    /* border: solid 1px lime; */
  }

  .dishesFrame img {
    background-position: right;
    width: 92%;
    height: 94%;
    object-fit: cover;
    position: relative;
    z-index: -1;
  }
}
