/* GLOBAL RESETS */
* {
  font-family: "Lugrasimo-Regular", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FONTS & FONT STYLE */
@font-face {
  font-family: "Kalam", "Lugrasimo-Regular";
  src: url("./assets/fonts/Lugrasimo/Lugrasimo-Regular.ttf"),
    url("./assets/fonts/Kalam/Kalam-Regular.ttf") format("truetype");
  /* Additional font properties and declarations */
}
body {
  /* position: fixed !important; */
  /* font-style: italic; */
}
.clientParagraph {
  font-style: italic;
}

.introSection,
.dishesFrame p {
  font-style: italic;
}

/* TEXT ALIGNMENTS */
h1,
h2,
.dishesFrame p,
.offcanvas-body a {
  text-align: center;
}

/* LINKS */
a {
  text-decoration: none;
  background-color: transparent !important;
  color: var(--fontColorMain) !important;
}

/* WALLPAPER */
body {
  /* background-image: url("./assets/images/restaurant-background-darker.png");
  background-position: center;
  background-size: 200%; */
}

footer {
  background-color: #242424;
  background-image: none !important;
}

/* HELPER CLASSES */
.sectionDivider {
  margin: 5rem 0;
}

/* BACKGROUND */
body,
a {
  color: #fee4b3;
  background-color: #242424;
}

header {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
}

/* HEADER AND INTRO SECTION */
header {
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  background-image: url("./assets/images/background-header.png");
  background-position: 75% 115%;
  filter: grayscale(0.8);
  background-size: 200%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* MARGINS */
h2 {
  margin-bottom: 1rem;
}
.carousel {
  max-width: 80%;
  margin: 0 auto;
}
.carousel-caption {
  background-color: #000;
  opacity: 0.7;
  /* border-radius: 9px; */
}
