/* GLOBAL RESETS */
* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HELPER CLASSES */
.sectionDivider {
  margin: 2rem 0;
}

body,
a {
  color: #fee4b3;
  background-color: #1d1d1d;
}

header {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  align-items: center;
}

h1,
h2 {
  text-align: center;
}

.carousel {
  max-width: 80%;
  margin: 0 auto;
}
.carousel-caption {
  background-color: #000;
  opacity: 0.7;
  /* border-radius: 9px; */
}
